*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: white;
}
.navbar{
	background: #1E3A8A;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 60px;
	font-size: Arial;
}
.logo {
	display: flex;
	color: white;
	font-weight: bold;
	font-family: Arial;
	font-size: 28px;
}
.logo a{
	text-decoration: none;
	color: grey;
}
.logo a:hover{
	color: 2F2FEE;
}
.navmenu{
	display: flex;
	list-style: none;
}
.navmenu li{
	margin-left: 25px;
}
.navmenu a{
	font-size: 22px;
	text-decoration: none;
	color: grey;
	transition: 0.3s;
}
.navmenu a:hover{
	color:#FFD700
}
.principal{
	text-align: center;
	margin-top: 20px;
	padding: 15px;
}
.explora{
	padding: 30px;
	text-decoration:none;
	text-align: center;
}

figure{
	margin: 0;
}
figure img{
	width:300px;
	height: 200px;
	margin-left: 200px;
}	
.contenedor{
	display:flex;
	gap: 30px;
	}
.explora-1{
	width: 500px;
}
.caption{
	margin-left: 300px;
	padding: 10px;
}
figcaption a:hover{
	color:#FFD700 ;
}
figcaption a{
	text-decoration: none;
	color: grey;
}
p{
	padding: 15px;
	font-size: 16px;
	font-family: Arial;
	text-align: justify;
}
.fig2{
	margin-left: 250px;
	align-items: center;
	text-align: center;
}
.caption2{
	margin-top: 15px;
	margin-left: 200px;
}
.contenedor2{
    display: flex;
    gap: 20px;
}

.explora-1,
.explora-2{
    flex: 1;
}
.footerct{
	text-align: center;
}
footer p{
	text-align: center;
}
.footer{
    background:#1E3A8A;
    color:gray;
    padding:40px 50px 20px;
}
.copyright{
    text-align:center;
    font-size:14px;
}